body {
    background-color: #333333;
    color: #fff;
}
textarea {
    width: 100%;
    height: 500px;
}
.ungenerated {
    width: 200px;
    height: 300px;
    background-color: #3c3c3c;
    color: #fff;
}
#ungenerated {
    overflow-x: scroll;
    overflow-y: hidden;

}