@font-face {
  font-family: helvetica;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FHelvetica.ttf) format("opentype");
}
@font-face {
  font-family: comics;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FComics.ttf) format("opentype");
}

body {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  overflow: hidden;
  font-family: 'helvetica';
}

.headerdiv {
  height: 50px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 100%;
  padding: 12px 15px;
  background: #F28343;
  user-select: none;
  color: #fff;
  z-index: 100;
}

.logo {
  display: relative;
  
  position: absolute;
  right: calc(50% - 250px);
  width: 500px;
  height: 14px;
  padding: 15px 0px;
  bottom: -8px;
  background-image: url(https://i.imgur.com/Rw3xFXo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;
}

.constrain {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
}

.roomcode{
  width: 100%;
  height: 34px;
  margin-bottom: 15px;
  padding: 20px 12px;
  background-color: #e0e0e0;
  border: 0px solid;
  border-radius: 12px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  outline-width: 0;
}

.namecode{
  width: 100%;
  height: 34px;
  margin-top: 15px;
  padding: 20px 12px;
  background-color: #e0e0e0;
  border: 0px solid;
  border-radius: 12px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  outline-width: 0;
}

.play {
  cursor: pointer;
  height: 48px;
  width: calc(100% - 50px);
  margin: 25px 25px 15px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F28343;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #7C390E;
  transition: color 0.5s, background-position 0.5s, box-shadow 0.5s;
}

.host {
  display: block;
  width: calc(100% - 50px);
  cursor: pointer;
  height: 48px;
  position: absolute;
  top: calc(100% - 150px);
  margin: 25px 25px 15px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F28343;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #7C390E;
  transition: color 0.5s, background-position 0.5s, box-shadow 0.5s;
}
.hosttext {
  position: absolute;
  top: calc(100% - 150px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: calc(50% - 75px);
  font-size: 80%;
  color: #333333;
  
}

button.cancel {
  background-color: #333;
  box-shadow: 0 5px 0 0 #161616;
}

button:disabled {
  background: #e0e0e0;
  color: #505050;
  box-shadow: 0 0 0 0 #505050;
}

.playtext {
  
}



.remaining {
  position: relative;
  right: 26px;
  float:right;
  display:inline-block;
}

.labelinput {
  color: #333333;
}

.roomtext {
  position:relative;
  color: #333333;
  bottom: 10px;
  left: 15px;
  font-weight: 125%;
}
.nametext {
  position:relative;
  color: #333333;
  left: 15px;
  font-weight: 125%;
  margin-top: 20px;
}

fieldset {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  position:relative;
  top: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 420px;
}
.fieldsetholder {
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}