@font-face {
  font-family: helvetica;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FHelvetica.ttf) format("opentype");
}
@font-face {
  font-family: comics;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FComics.ttf) format("opentype");
}

body {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  overflow: hidden;
  font-family: 'helvetica';
}

.headerdiv {
  height: 50px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 100%;
  padding: 12px 15px;
  background: #F28343;
  user-select: none;
  color: #fff;
  z-index: 100;
}

.logo {
  display: relative;
  position: relative;
  width: 500px;
  height: 14px;
  padding: 15px 0px;
  bottom: 8px;
  right: 19px;
  background-image: url(https://i.imgur.com/Rw3xFXo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;
}
.constrain {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
  user-select: none;
}
.gamelist {
  position: absolute;
  right: calc(50% - 210px);
  width: 420px;
  user-select: none;
}
.gamethumbnail {
  display:inline-block;
  width: 200px;
  height: 112px;
  object-fit: contain;
  user-select: none;
  border-radius: 12px;
}
.gametextdiv {
  height: 40px;
  width: 100px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position:relative;
  bottom: 5px;
  user-select: none;
}
.gametitle {
  height: 0px;
  width: 200px;
  display: block;
  font-weight: 15px;
  font-size: 100%;
  font-family: 'helvetica';
  user-select: none;
}
.gamedesc {
  text-align: left;
  height: 35px;
  width: 200px;
  display: block;
  font-size: 60%;
  font-family: 'helvetica';
  color: #333333;
  user-select: none;
}
.game_clickrate {
  margin-left:auto;
  margin-right:auto;
}

[data-hovering] {
  border: none;
  border-radius: 12px;
  transition: color 0.5s, background 0.1s;
  user-select: none;
}
[data-hovering="1"] {
  background: #e0e0e0;
}
