.canvas {
  background-color: #333333;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body {
  overflow: hidden;
  background-color: #191919;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chatinput {
  top: 17px;
  width: 390px;
  height: 25px;
  position: relative;
  bottom: 5px;
}

.chatbox {
  top: 5px;
  left: 5px;
  position: relative;
  height: 403px;
  width: 390px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.chatmessage {
  display: absolute;
  width: 380px;
  text-align: left;
  margin: 0;
  position: relative;
  font-size: 125%;
  font-family: "roboto", sans-serif;
}

.chatdiv {
  height: 450px;
  width: 400px;
  float: left;
  position: absolute;
  bottom: 1%;
  left: 12px;
  overflow: hidden;
}

.nickdiv {
  height: 350px;
  width: 300px;
  font-size: 100%;
  font-family: "roboto", sans-serif;
  float: right;
  right: 5px;
  position: relative;
  display: absolute;
  z-index: 1;
}

.scoretext {
  font-size: 200%;
}

.submitnick {
  position: relative;
  display: block;
  text-align: center;
  top: 30px;
  left: 35%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-size: 150%;
  z-index: 1;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.nickinput {
  opacity: 1;
  height: 20px;
  width: 200px;
  font-size: 100%;
  font-family: "roboto", sans-serif;
  vertical-align: middle;
  position: relative;
  display: absolute;
  z-index: 1;
}

.coordinput {
  height: 20px;
  width: 200px;
  font-size: 100%;
  font-family: "roboto", sans-serif;
  vertical-align: middle;
  position: relative;
  display: absolute;
  z-index: 1;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input[type="text"] {
  border: none;

  background-color: #ffffff00;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.nicktext {
  position: relative;
  text-align: center;
  top: 10px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-size: 150%;
  z-index: 1;
}
.coordtext {
  position: relative;
  text-align: center;
  top: 10px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-size: 150%;
  z-index: 1;
}

.player {
  background-image: url("https://imgur.com/lvunajT.png");
  width: 50px;
  height: 50px;
  position: absolute;
  display: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.select {
  background-image: url("https://imgur.com/hfZmPCt.png");
  width: 50px;
  height: 50px;
  position: absolute;
  display: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.playertext {
  width: 200%;
  height: 20px;
  position: relative;
  bottom: 37px;
  font-size: 100%;
  color: #ffffff;
  background-color: #333333d4;
  right: 50%;

  font-family: "roboto", sans-serif;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.info {
  background-image: url("https://imgur.com/zoY0uSe.png") !important;
  width: 50px;
  height: 50px;
  position: absolute;
  display: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.infotext {
  width: 500%;
  height: 80px;
  position: relative;
  bottom: 100px;
  font-size: 100%;
  color: #ffffff;
  background-image: url("https://imgur.com/JfngSTc.png") !important;
  right: 200%;

  font-family: "roboto", sans-serif;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.cursor {
  position: absolute;
  display: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.container {
  position: absolute;
}

.chunk {
  width: 600px;
  height: 600px;
  position: absolute;
  background-image: url("https://imgur.com/2kPbmHR.png");
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.tile_unrevealed_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/WViACB7.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_sparkle_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/LgGuup6.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_vanilla {
  background-image: url("https://imgur.com/WViACB7.png");
  position: relative;
  display: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/DrWjx5g.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kuzo1Nc.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/P9AoOBj.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/miPc6IC.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/OtBLpZ7.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/Vn0snhh.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/8Hbe7L3.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/MuwJ8KP.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/YSLPgGG.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/jX04u7E.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_vanilla {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/2ltL5Ur.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/tbbi6VL.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_chocolate {
  background-image: url("https://imgur.com/tbbi6VL.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/n632Q2D.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/AHcO262.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/FY4uT1M.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/CsZ4GwB.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kAovEzh.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/gaRgLy6.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/gpppdd8.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/1Ent2mf.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/SL4e3ix.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/CiQuCzl.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_chocolate {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/TCKDyKa.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/JpDfMx3.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_strawberry {
  background-image: url("https://imgur.com/JpDfMx3.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/7e7H8rm.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/mA0IhHl.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_q_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/BHj3ocP.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_qb_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/HMP198k.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/pqTq9aq.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kuMf55e.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/AYh6vbf.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/H4typ6x.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/ILlUGN2.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/3lZcWV2.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/BKLRSq8.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/UqCha9O.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_strawberry {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/FC3BZJR.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/5z5uJ4x.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_banana {
  background-image: url("https://imgur.com/5z5uJ4x.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/SR28xAA.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kEbCpro.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/dCxuZIh.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/AC6hK1F.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kO51U7u.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/EMdwZWV.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/vb08zhZ.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/bFs0KAF.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/zx4KheG.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/nr62zct.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_banana {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/JW8aZbV.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/OsmeaXI.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_cookie {
  background-image: url("https://imgur.com/OsmeaXI.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/ekxtgVn.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/xPdany9.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_ba_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/f8EQCe8.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/iiBhevL.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/HAkRARr.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/Fs11VqT.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/V4c0sP9.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/ifjADdz.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/omP7S5K.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/NTZ1AAh.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/kLyGsMk.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_cookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/FuVXizs.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/sVxU2Ww.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_cream {
  background-image: url("https://imgur.com/sVxU2Ww.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/Lb4ARxm.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/raf4KWH.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/lhVuWbE.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/euWrJ4i.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/M03VAt1.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/wtEXs9I.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/6dhSSJT.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/yHcawT4.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/6FaF57K.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/NnzMnf4.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_cream {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/JRNZZqa.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/IeQOWeJ.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_creamcookie {
  background-image: url("https://imgur.com/IeQOWeJ.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/BBm8qtQ.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_ba_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/0ortNv8.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/5y3HqlQ.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/X4hvaUe.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/KJ4d6wE.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/1i0SX5O.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/t1iUdZ6.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/qCr3eMD.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/QlURJC4.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/cRmAA0d.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/glXVEmN.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_creamcookie {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/wLHqkWT.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.tile_unrevealed_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/JQaSiCD.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_ube {
  background-image: url("https://imgur.com/JQaSiCD.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/0x96SFY.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_qb_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/8RqnOKY.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_q_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/O8f4pKj.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_cr_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/0kCe1vA.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_ba_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/3SXMtnd.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/z2bRFrU.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/eAPOr7D.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/VvX7R0Y.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/Pz0Uq54.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/sxJU2qC.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/VAjbnrT.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/qlLq6Zd.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/ctLXJh8.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/0qhmJFI.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_ube {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/xT6Buuf.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.ubecloud {
  width: 150px;
  height: 150px;
  background-image: url("https://imgur.com/JrKUrjY.png");
  display: absolute;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 2;
}

.tile_unrevealed_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/rTZmqxa.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_sparkle_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/vy5mebv.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_at_waffle {
  background-image: url("https://imgur.com/rTZmqxa.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_b_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/linBV8j.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_ba_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/NAAXMt6.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_flag_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/Za3TjL5.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_0_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/CP26h63.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_1_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/cYgOASo.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_2_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/iZu2EsC.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_3_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/TM0DX2d.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_4_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/9nv9sM6.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_5_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/MFtqbGP.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_6_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/A7Rt3C4.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_7_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/0yNCTJS.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.tile_8_waffle {
  width: 50px;
  height: 50px;
  background-image: url("https://imgur.com/xT6Buuf.png");
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
