:root {
  --shade0: #20112c;
  --shade1: #381b4e;
  --shade2: #631d76;
  --shade3: #9e4770;
  --shade4: #ff784f;
  --shade5: #db9d47;
  --vh: 1vh;
  --br: 0;
  --hitboxsize: 1;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    background-color: var(--shade0);
    font-family: 'Quicksand', sans-serif;
    color: var(--shade5);
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 110%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }
  h1 {
    color: navy;
    margin-left: 20px;
  }
  * {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .element {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 110px;
    height: 110px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    font-size: 150%;
    float: right;
    width: 300px;
    height: 100%;
    background-color: var(--shade1);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    padding-top: 10px;
    box-shadow: -10px 0 0 0 var(--shade0), -15px 0 0 0 var(--shade1)
  }
  .sidebarelement {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebarelement[data-push="1"] {
    margin-top: 80px;
  }
  .sidebarimage {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
border-radius: var(--br);
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
  }
  .sidebarimage[data-disappear="1"] {
    opacity: 0;
    transform: scale(0.5);
    transition: none;
  }
  .sidebartext {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
  } 
  .sidebartext[data-small="1"] {
    font-size: 75%;
    font-weight:500;
  }
  .sidebartext[data-small="2"] {
    font-size: 50%;
    font-weight:500;
  }
  @media only screen and (max-width: 680px) {
    .sidebartext {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      text-align: justify;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 150%;
    } 
    .sidebartext[data-small="1"] {
      font-size: 100%;
      font-weight:500;
    }
    .sidebartext[data-small="2"] {
      font-size: 50%;
      font-weight:500;
    }
  }
  /*
  .gamecontainer {
    display: flex;
    flex-direction: column;
  }*/
  .combinecircle {
    position: absolute;
    pointer-events: none;
    height: 348px;
    width: 348px;
    border-radius: 100%;
    background-color: var(--shade1);
    transform: scale(0);
    transition: transform 0.3s;
    z-index: unset;
  }
  .combinecircle[data-show="1"] {
    transform: scale(1.25);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .gameelement {
    position: absolute;
    pointer-events: none;
  }
  .gamecircle {
    height: 100px;
    width: 100px;
    background-color: var(--shade1);
    border-radius: 50%;
    background-size: cover;
    position: relative;
    right: 50px;
    bottom: 50px;
    transform: scale(0);
    pointer-events: none;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 0%;
  }
  .gameelement[data-hovered="1"] > .gamecircle {
    transform: scale(2.5);
  }
  .gameelement[data-small="1"] > .gamecircle {
    transform: scale(0);
  }
  .gameelement[data-small="2"] > .gamecircle {
    transform: scale(0);
  }
  .gameelement[data-comb="1"] > .gamecircle {
    transform: scale(2.5);
    background-color: var(--shade2);
  }
  .gameelement[data-comba="2"] > .gamecircle {
    transition: transform 0.3s, background-color 0.2s;
    transform: scale(0);
    background-color: var(--shade2);
  }
  .gameelement[data-newitem="1"] > .gamecircle::after {
    animation: newdiscover 0.5s;
  }
  .gameimage {
    height: 256px;
    width: 256px;
    background-size: cover;
border-radius: var(--br);
    position: relative;
    bottom: 228px;
    right: 128px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: none;
  }
  .gameelement[data-failed="1"] > .gameimage {
    animation: shake 0.18s;
  }
  .gameelement[data-comb="1"] > .gameimage {
    z-index: 2;
  }
  .gameelement[data-comba="2"] > .gameimage {
    z-index: 2;
    transition: transform 0.2s;
    transform: scale(0);
  }
  .gamehitbox {
    width: 180px;
    height: 180px;
    position: relative;
    bottom: 446px;
    right: 88px;
    cursor: pointer;
    pointer-events: all;
    transform: scale(var(--hitboxsize));
  }
  .gamehitbox[data-disable="1"] {
    cursor: unset;
    pointer-events: none;
  }
  .gameelement[data-dragging="1"] > .gamehitbox {
    cursor: unset;
    pointer-events: none;
  }
  .gameelement[data-comba="2"] > .gamehitbox {
    bottom: 2000px;
    cursor: unset;
    pointer-events: none;
  }
  .gameelement[data-small="1"] > .gameimage {
    transform: scale(0.390625);
  }
  .gameelement[data-small="2"] > .gameimage {
    transform: scale(0);
    transition: transform 0.6s, opacity 0.2s;
    opacity: 0;
  }
  .gameelement[data-small="2"][data-finalitem="1"] > .gameimage {
    transform: scale(0);
    transition: transform 0.3s, opacity 0.2s;
    opacity: 1;
  }
  .gameelement[data-small="2"][data-finalitem="2"] > .gameimage {
    transform: scale(0);
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
  }
  .gametext {
    position: relative;
    text-align: center;
  }
  
  .gamebuttonsdown {
    position: absolute;
    width: 100%;
    height: 125px;
    top: calc(100% - 125px);
    background-color: var(--shade0);
    border-radius: 5px;
    box-shadow: 0 -10px 0 0 var(--shade0), 0 -15px 0 0 var(--shade1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Align horizontal */
    align-items:flex-start; /* Align vertical */
  }
  .gamebuttonsdown[data-disable="1"] {
    display: none;
  }
  .gamebuttondown {
    pointer-events: all;
    cursor: pointer;
    display: block;
    color: var(--shade1);
    font-size: 400%;
    margin-bottom: 8px;
    transition: color 0.1s;
  }
  .gamebuttondown:active {
    color: var(--shade5);
  }
  .gamebuttondownenhance {
    transform: scale(4);
  }
  .gamebuttons {
    position: absolute;
    top: 278px;
    left: 92px;
    transform: scale(4);
  }
  .gamebuttons[data-disable="1"] {
    display: none;
  }
  .gamebutton {
    pointer-events: all;
    cursor: pointer;
    display: block;
    color: var(--shade1);
    font-size: 200%;
    margin-bottom: 8px;
    transition: color 0.1s;
  }
  .gamebutton:hover {
    color: var(--shade5);
  }
  textarea:focus, input:focus{
    outline: none;
}
#gb_sidebarsearch {
  font-weight: 700;
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  display: block;
  color: var(--shade2);
  font-size: 200%;
  margin-bottom: 8px;
  left: calc(100% - 364px);
  top: 12px;
  transform: scaleX(1.2) scaleY(0);
  border-radius: 10%;
  transition: color 0.1s;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
#gb_exitsidebarsearch {
  font-weight: 700;
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  display: block;
  color: var(--shade1);
  font-size: 200%;
  margin-bottom: 8px;
  left: calc(100% - 661px);
  top: 13px;
  font-weight: 300 !important;
  transform: scaleX(1.4) scaleY(0);
  border-radius: 10%;
  transition: color 0.1s;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, color 0.2s;
}
#gb_sidebarsearch[data-show="1"] {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 1;
}
#gb_exitsidebarsearch[data-show="1"] {
  transform: scaleX(1.4) scaleY(1.4);
  opacity: 1;
}
#gb_exitsidebarsearch[data-show="1"]:hover {
  color: var(--shade5);
}
#gi_sidebar {
  border: 0px solid;
  position: absolute;
  pointer-events: all;
  height: 38px;
  cursor: pointer;
  display: block;
  color: var(--shade5);
  font-family: 'Quicksand', sans-serif;
  font-size: 130%;
  margin-bottom: 8px;
  background-color: var(--shade1);
  outline: none;
  left: calc(100% - 592px);
  width: 240px;
  top: 12px;
  transform: scaleX(1.2) scaleY(0);
  border-radius: 4%;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, color 0.1s;
}
#gi_sidebar[data-show="1"] {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 1;
}
#gi_menu {
  border: 0px solid;
  position: absolute;
  pointer-events: all;
  height: 38px;
  display: block;
  color: var(--shade5);
  font-family: 'Quicksand', sans-serif;
  font-size: 130%;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--shade1);
  left: calc(50% + 52px);
  width: min(500px, 80%);
  top: calc(50% + 450px);
  z-index: 7;
  transform: scaleX(1.2) scaleY(0) translateX(-50%);
  border-radius: 1%;
  opacity: 0;
  outline: var(--shade1) solid 0px;
  outline-offset: 0px;
  transition: transform 0.3s, opacity 0.3s, color 0.1s, width 0.3s, left 0.3s, outline 0.4s, outline-offset 0.4s;
}
#gi_menu[data-show="1"] {
  transform: scaleX(1.2) scaleY(1.2) translateX(-50%);
  opacity: 1;
}
#gi_menu[data-show="2"] {
  width: min(1000px, 80%);
  left: calc(50% + 102px);
  transform: scaleX(1.2) scaleY(1.2) translateX(-50%);
  opacity: 1;
}
@media only screen and (max-width: 680px) {
  #gi_menu[data-show="2"] {
    width: min(500px, 80%);
    left: calc(50% + 52px);
    transform: scaleX(1.2) scaleY(1.2) translateX(-50%);
    opacity: 1;
  }
}
#gi_menu[data-show]:focus {
  outline: var(--shade1) solid 3px;
  outline-offset: 9px;
}
  #gb_exithint {
    transform: scale(0);
    opacity: 0;
    position: relative;
    right: 5px;
    transition: transform 0.2s, opacity 0.1s, color 0.1s;
    pointer-events:none;
    color: var(--shade2);
  }
  #gb_exithint[data-hint="1"] {
    transform: scale(0.7);
    opacity: 1;
    pointer-events:all;
  }
  #gb_exithint[data-hint="1"]:hover {
    transform: scale(0.8);
  }
  #gb_clean {
    animation: none;
  }
  #gb_clean[data-clean="1"] {
    animation: wiggle 2.5s infinite;
  }
  #gb_dict {
    transform: scale(1);
    transition: transform 0.13s, color 0.1s;
  }
  #gb_dict:active {
    transform: scale(0.8);
  }
  #gb_hint {
    transform: scale(1);
    transition: transform 0.2s, color 0.1s;
  }
  #gb_hint[data-hint="1"] {
    transform: scale(1.1);
    color: var(--shade2);
    
  }

  @keyframes wiggle {
   0% { transform: rotate(0deg); }
   5% { transform: rotate(15deg); }
   15% { transform: rotate(-7deg); }
   20% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
  }



  .dictionary {
    position: absolute;
    width: min(1200px, 80%);
    height: min(800px, 80%);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    pointer-events: none;
    opacity: 0;
    background-color: var(--shade1);
    transition: transform 0.4s, opacity 0.4s, outline 0.4s, outline-offset 0.4s;
    border-radius: 2%;
    z-index: 8;
    outline: var(--shade1) solid 0px;
    outline-offset: 0px;
  }
  .dictionary[data-shown="1"] {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: all;
    outline: var(--shade1) solid 4px;
    outline-offset: 12px;
  }

  .finalitems {
    position: absolute;
    width: min(1200px, 80%);
    height: min(800px, 80%);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    pointer-events: none;
    opacity: 0;
    background-color: var(--shade1);
    transition: transform 0.4s, opacity 0.4s, outline 0.4s, outline-offset 0.4s;
    border-radius: 2%;
    z-index: 8;
    outline: var(--shade1) solid 0px;
    outline-offset: 0px;
  }
  .finalitems[data-shown="1"] {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: all;
    outline: var(--shade1) solid 4px;
    outline-offset: 12px;
  }
  .iteminfo {
    position: absolute;
    width: min(600px, 80%);
    height: min(800px, 80%);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    pointer-events: none;
    opacity: 0;
    background-color: var(--shade1);
    transition: transform 0.4s, opacity 0.4s, outline 0.4s, outline-offset 0.4s;
    border-radius: 2%;
    z-index: 9;
    outline: var(--shade1) solid 0px;
    outline-offset: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .iteminfo[data-shown="1"] {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: all;
    outline: var(--shade1) solid 4px;
    outline-offset: 12px;
  }
  #iteminfoRecipeDepth {
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }
  #iteminfoID {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
  }
  .uiinfoItem {
    display: inline-block;
    width: 256px;
    height: 256px;
    background-size: cover;
    border-radius: var(--br);
    transition: transform 0.05s;
  }
  .uiinfoItem[data-hidden="1"] {
    filter: brightness(0);
  }
  .iteminfoItemHolder {
    display: flex;
    /*justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
  }
  .uiinfoDisclaimer {
    text-align: center;
    font-size: 200%;
    text-overflow:clip;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
  }
  .uiinfoDescription {
    width: calc(100% - 300px);
    font-size: 130%;
    display: inline-block;
    text-align:center;
    margin: 0;
    padding: 0;
  }
  .iteminfoCollectionTitle {
    margin-top: 90px;
    text-align: center;
    font-size: 200%;
    text-overflow:clip;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .iteminfoCombinations {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align horizontal */
    align-items:flex-start; /* Align vertical */
  }
  .iteminfoCombination {
    vertical-align: top;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items:flex-start; /* Align vertical */
  }
  .iteminfoCombinationItem {
    vertical-align: top;
    display: inline-block;
  }
  .iteminfoCombinationText {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 150%;
    width: 128px;
  }
  .iteminfoCombination > .iteminfoCombinationText {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 150%;
    display: inline-block;
    width: unset;
    position: relative;
    top: 128px;
  }
  .iteminfoCombinationImg {
    vertical-align: top;
    width: 128px;
    height: 128px;
    background-size: cover;
border-radius: var(--br);
  }
  #dictionaryDisclaimer {
    text-align: center;
    font-size: 200%;
    text-overflow:clip;
    white-space: nowrap;
    transform: scale(1);
    transition: transform 0.2s, font-size 0.2s;
  }
  #dictionaryDisclaimer[data-font="1"] {
    font-size: 150%;
  }
  @media only screen and (max-width: 680px) {
    #dictionaryDisclaimer {
      white-space: unset;
    }
    #dictionaryDisclaimer[data-font="1"] {
    }
  }
  #dictionaryDisclaimer:hover {
    transform: scale(1.05);
  }
  #dictionaryDisclaimer:active {
    transform: scale(0.95);
  }
.dictionaryGradient {
  position: relative;
  text-align: center;
  font-size: 200%;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 100px;
  background-image: url('https://raw.githubusercontent.com/LooserRIP/AIElemental/gh-pages/cdn/gradient.png');
  background-size: contain;
  pointer-events: none;
}
.dictionaryGradient[data-up] {
  text-align: center;
  font-size: 200%;
  width: 100%;
  height: 50px;
  position: relative;
  transform: scaleY(-1);
  bottom: -7px;
  background-image: url('https://raw.githubusercontent.com/LooserRIP/AIElemental/gh-pages/cdn/gradient.png');
  background-size: contain;
  z-index: 5;
}
.dictionaryContainer {
  position: relative;
  top: -50px;
  border-radius: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 8px;
  margin-top: 8px;
  height: calc(100% - 140px);
}
@media only screen and (max-width: 680px) {
  .dictionaryGradient {
    display: none;
  }
  .dictionaryContainer {
    top: -20px;
  }
}
.dictItem {
  width: 128px;
  height: 128px;
  display: inline-block;
  background-size: cover;
  transition: transform 0.05s, border-radius 0.05s;
  cursor: pointer;
}
.dictItem[data-found] {
  /*background-color: var(--shade2);*/
  /*filter:sepia(1) saturate(20) hue-rotate(250deg) brightness(0.4);*/
}
.dictitem[data-foundall] {
  /*filter:sepia(0.8) saturate(5) hue-rotate(10deg);*/
}
.dictItem[data-notfound] {
  transform: scale(0.6);
  border-radius: 50%;
  background-color: var(--shade0);
  /*filter:sepia(0.8) saturate(5) hue-rotate(10deg);*/
}
.dictItem:hover {
  transform: scale(1.2);
  border-radius: var(--br);
}
.dictitem[data-notfound]:hover {
  transform: scale(0.8);
  border-radius: 50%;
}

.uititle {
  position: absolute;
  width: 75%;
  left: 50%;
  top: calc(50% - 700px);
  transform: translateX(-50%) scale(0);
  font-size: 600%;
  font-weight: 600;
  text-align: center;
  transition: transform 0.75s, opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  z-index: 7;
}
#loadingtitle {
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  transition: transform 1.75s, opacity 0.4s;
  z-index: 10 !important;
  transform: translateX(-50%) scale(1);
  opacity: 0;
}
#loadingtitle2 {
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  font-size: 400%;
  vertical-align: middle;
  transition: transform 1.75s, opacity 0.4s;
  z-index: 10 !important;
  transform: translateX(-50%) scale(1);
  opacity: 0;
}
@media only screen and (max-width: 680px) {
  .uititle {
    width: 100%;
    font-size: 400%;
  }
  #loadingtitle2 {
    font-size: 250%;
  }
}
#menubg[data-shown] > #menutitle {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
#menubg[data-loading] > #loadingtitle {
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: transform 0.75s, opacity 0.5s;
  opacity: 1;
}
#menubg[data-loading="2"] > #loadingtitle {
  transform: translateX(-50%) translateY(calc(-50% - 40px)) scale(1);
  transition: transform 0.75s, opacity 0.5s;
  opacity: 1;
}
#menubg[data-loading="2"] > #loadingtitle2 {
  transform: translateX(-50%) translateY(40px) scale(1);
  transition: transform 0.75s, opacity 0.5s;
  opacity: 1;
}

.circlebg {
  position: absolute;
  height: calc(200 * var(--vh));
  width: calc(200 * var(--vh));
  background-color: var(--shade0);
  opacity: 0;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;
  border-radius: 100%;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  z-index: 6;
}
#circlebg2 {
  z-index: 9;
}
#menubg[data-shown] > #circlebg {
  pointer-events: all;
  opacity: 0.9;
  transition: opacity 0.5s, transform 1s;
  transform: translateX(-50%) translateY(-50%) scale(1.5);
}
#menubg[data-shown="2"] > #circlebg2 {
  pointer-events: all;
  opacity: 0.9;
  transition: opacity 0.5s, transform 1s;
  transform: translateX(-50%) translateY(-50%) scale(1.5);
}
#menubg[data-loading] > #loadingbg {
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.5s, transform 1s;
  transform: translateX(-50%) translateY(-50%) scale(1.5);
}
#newDiscovery {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--shade0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
}
#newDiscovery[data-shown="1"] {
  pointer-events: all;
  opacity: 1;
}
#newDiscoveryTitle {
  position: absolute;
  width: 75%;
  left: 50%;
  top: calc(50% - 200px);
  transform: translateX(-50%) scale(0);
  font-size: 600%;
  font-weight: 600;
  text-align: center;
  transition: transform 0.5s, top 0.35s;
  pointer-events: none;
}
#newDiscovery[data-shown="1"] > #newDiscoveryTitle {
  top: calc(50% - 450px);
  transform: translateX(-50%) scale(1);
}
#newDiscoveryDescription {
  position: absolute;
  left: 50%;
  top: calc(50% - 600px);
  width: 70%;
  height: 100%;
  transform: translateX(-50%) scale(0);
  line-height: 90%;
  font-size: 300%;
  text-align: center;
  transition: transform 0.5s, top 0.35s;
  pointer-events: none;
}
#newDiscovery[data-shown="1"] > #newDiscoveryDescription {
  top: calc(50% + 180px);
  transform: translateX(-50%) scale(1);
}
@media only screen and (max-width: 680px) {
  #newDiscoveryTitle {
    width: 100%;
    font-size: 600%;
  }
  #newDiscovery[data-shown="1"] > #newDiscoveryTitle {
    top: calc(50% - 650px);
    transform: translateX(-50%) scale(1);
  }
  #newDiscovery[data-shown="1"] > #newDiscoveryDescription {
    top: calc(50% + 280px);
    transform: translateX(-50%) scale(1);
  }
}
#newDiscoveryImage {
  position: absolute;
  width: 512px;
  height: 512px;
  left: 50%;
  top: 50%;
  background-size: cover;
  border-radius: var(--br);
  transform: translateX(-50%) translateY(-50%) scale(0);
  line-height: 0;
  transition: transform 0.5s;
}
#newDiscovery[data-shown="1"] > #newDiscoveryImage {
  transform: translateX(-50%) translateY(-50%) scale(calc(1 / var(--hitboxsize)));
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#newDiscoveryRays {
  position: absolute;
  width: 768px;
  height: 768px;
  left: 50%;
  top: 50%;
  background-image: url('https://raw.githubusercontent.com/LooserRIP/AIElemental/gh-pages/cdn/rays.svg');
  transform: translateX(-50%) translateY(-50%) scale(0);
  line-height: 0;
  transition: opacity 0.6s;
  animation: rotating 10s linear infinite;
  opacity: 0;
  pointer-events: none;
}
#newDiscovery[data-shown="1"] > #newDiscoveryRays {
  opacity: 0.5;
  transition: opacity 1.2s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  animation: rotating 10s linear infinite;
}


.hint {
  position: absolute;
  width: min(600px, 80%);
  height: min(800px, 80%);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  pointer-events: none;
  opacity: 0;
  background-color: var(--shade1);
  transition: transform 0.4s, opacity 0.4s, outline 0.4s, outline-offset 0.4s;
  border-radius: 2%;
  z-index: 9;
  outline: var(--shade1) solid 0px;
  outline-offset: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hint[data-shown="1"] {
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
  pointer-events: all;
  outline: var(--shade1) solid 4px;
  outline-offset: 12px;
}
.hint[data-wiggle="1"] {
  transform: translateX(-50%) translateY(-50%) scale(1.05);
  transition: transform 0.1s, opacity 0.4s, outline 0.4s, outline-offset 0.4s;
}
#info > .iteminfoCollectionTitle:first-child {
  margin-top: 50px;
}

#info > .iteminfoCollectionTitle:nth-child(2) {
  cursor: pointer;
  margin-top: 35px;
  color: #49b4fb;
}

#info > .iteminfoCollectionTitle:nth-child(3) {
  margin-top: 35px;
  font-size: 120%;
}
.iictc { margin-left: 10px; margin-right: 10px; margin-top: 22px;font-weight: unset;white-space: unset;font-size: 120%;}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: var(--shade2); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--shade2); 
}

@keyframes rotating {
  from {
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
  }
}
@keyframes newdiscover {
  0% {
    width: 100px;
    height: 100px;
    background-color: var(--shade5);
    outline: var(--shade4) solid 0px;
    outline-offset: 0px;
    transform: scale(1);
    opacity: 1;
  }
  25% {
  }
  50% {
    background-color: var(--shade5);
    outline: var(--shade4) solid 5px;
    outline-offset: 15px;
    transform: scale(4);
    opacity: 0.5;
  }
  75% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.rangeparent {
  
	display: flex;
	flex-direction: row;
	padding: 1em 0;
	place-items: center;
  
	padding: 0;
	margin: 0;
  margin-left: 26px;
  margin-right: 22px;

}

.sfv {
	padding: 0 !important;
	margin: 0 !important;
  margin-top: 55px !important;
}
.spanenhance {
  display: inline-block;
  text-align: end;
  font-size: 200%;
	padding: 0;
	margin: 0;
  position: relative;
  width: 113px;
}
#stylesetting {
  transition: transform 0.2s;
}
#stylesetting:hover {
  transform: scale(1.1);
}
#stylesetting:active {
  transform: scale(0.95);
}

input[type="range"] {
  display: inline-block;
	padding: 0;
	margin: 0;
  margin-top: 5px;
	box-sizing: border-box;
	font-size: 1.5rem;
	width: calc(100% + 5px);
}

input[type="range"] {
	color: #ef233c;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 110%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
	color: #111115;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		background: radial-gradient(circle at center, #101112, #000);
	}

	input[type="range"] {
		color: var(--shade5);
		--track-color: var(--shade0);
	}

	input[type="range"].win10-thumb {
		color: #3a86ff;
	}
}


input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
  background-color: var(--shade5);
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));
  border-color: var(--shade5);

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
  border-color: var(--shade5);
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
  border-color: var(--shade5);
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
