
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
  --bg: #333333;
  --bgoutline: #333333;
  --outline: 0px;
  --outlinen: -0px;
  --color: #FFFFFF;
  --colortransparent: #FFFFFF60;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* General Styles */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  font-family: 'Lato', sans-serif;
  color: var(--color);
  overflow: hidden;
  transition: background-color 2s, color 2s;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.material-icons {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;   
  -o-user-select: none; 
  margin: 0;
}

/* Information */

.target {
  margin-top: 8px;
  padding: 12px;
  color: var(--color);
  text-align: center;
  transition: color 2s;
}

.target-color {
  font-size: 3.25rem;
  font-weight: 700;
}

.target-tip {
  font-size: 1.25rem;
}

/* Color Picker */
.picker {
  box-shadow: 0px 4px 7px black;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--bg);
  transition: background-color 2s;
}

.slider {
  position:relative;
  display: flex;
  margin: 20px auto;
  width: 400px;
  border-radius: 15px;
  text-align: right;
  right: 24px;
  
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
}
.slider:nth-child(2) { right: 26px;}

.slidertext {
  color: var(--colortransparent);
  transition: color 2s;
  font-size:clamp(0%, 3.75vw, 200%);
  right: 20px;
  position:relative;
  width: 75px;
  padding:0;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;   
  -o-user-select: none; 
}
@media only screen and (max-width: 600px) {
  .slidertext {
    left: 6px;
    top: 10px;
  }
}


/* We only really need to add mobile support to the color picker */
@media only screen and (max-width: 400px) {
  .slider {
    width: 85%;
  }
}

.picker-preview {
  
  padding: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}

.picker-color {
  position: relative;
  width: 220px;
  height: 12px;
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  background-color: #ffffff;
  border-top-left-radius:  999px;
  border-top-right-radius:  999px;
  border-bottom-left-radius:  999px;
  border-bottom-right-radius:  999px;
}

.submit {
  background-color: #FFFFFF;
  border: none;
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 999px;
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.submit:hover {
  transform: scale(1.1);
}
.submit[data-reveal="1"] {
  background-color: #666666;
  color: var(--bg);
  transform: scale(0.9) rotate(360deg);
  cursor: auto;
  transition: color 2s;
}
.submit[data-reveal="1"]:hover {
  transform: scale(0.9) rotate(360deg);
  cursor: auto;
}

/* This is temporary */
.color {
  cursor: pointer;
  width: 60px;
  height: 40px;
  background-color: #00000000;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scaleY(1) scaleX(1.05);
}
.color:hover {
  transform: scaleY(1.125) scaleX(1.05);
  z-index:1;
  
}
.color:nth-child(2) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.color:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.color:nth-child(2)[data-selected="1"] {
  transform: scaleY(1.25) scaleX(1.175) translateX(-2px);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.color:last-child[data-selected="1"] {
  transform: scaleY(1.25) scaleX(1.175) translateX(2px);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.color[data-selected="1"] {
  z-index:2;
  transform: scaleY(1.25) scaleX(1.05);
  border-radius: 5px;
}

/* guesses */
@keyframes zoom {
  0% { opacity: 0; transform: scale(0); }
  30% { opacity: 0.3; transform: scale(1);  }
  60% { opacity: 0.6; transform: scale(1.1);  }
  100% { opacity: 1; transform: scale(1);  }
}

.guesses {
  padding: 10px 20px 20px 20px;
}

.guess {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.guess-color {
  width: 35px;
  height: 35px;
  opacity: 0;
  background-color: #ffffff;
  box-shadow: 0 0 0 3pt var(--bgoutline);
  transition: box-shadow 2s, transform 0.2s;
  /*
  box-shadow: var(--outline) var(--outline) 0px #333333FF, var(--outlinen) var(--outlinen) 0px #333333FF, var(--outline) var(--outlinen) 0px #333333FF, var(--outlinen) var(--outline) 0px #333333FF,calc(var(--outline) * 2) calc(var(--outline) * 2) 0px #333333FF, calc(var(--outlinen) * 2) calc(var(--outlinen) * 2) 0px #333333FF, calc(var(--outline) * 2) calc(var(--outlinen) * 2) 0px #333333FF, calc(var(--outlinen) * 2) calc(var(--outline) * 2) 0px #333333FF;
  transition: box-shadow 1s;
  */
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  border-radius: 5px;
  animation: zoom;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.guess-color:hover {
  transform: scale(1.1);
}
.guess-color:active {
  transform: scale(0.9);
}
.hint {
  cursor: pointer;
  width: 35px;
  height: 35px;
  opacity: 0;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  font-size: 1.15rem;
  box-shadow: 0 0 0 3pt var(--bgoutline);
  transition: box-shadow 2s, transform 0.2s;
  color: #FFF;
  /*
  box-shadow: var(--outline) var(--outline) 0px #333333FF, var(--outlinen) var(--outlinen) 0px #333333FF, var(--outline) var(--outlinen) 0px #333333FF, var(--outlinen) var(--outline) 0px #333333FF,calc(var(--outline) * 2) calc(var(--outline) * 2) 0px #333333FF, calc(var(--outlinen) * 2) calc(var(--outlinen) * 2) 0px #333333FF, calc(var(--outline) * 2) calc(var(--outlinen) * 2) 0px #333333FF, calc(var(--outlinen) * 2) calc(var(--outline) * 2) 0px #333333FF;
  transition: box-shadow 1s;
  */
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  border-radius: 999px;
  animation: zoom;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.hint:hover {
  transform: scale(1.1);
}
.hint:active {
  transform: scale(0.9);
}

.hint:nth-child(2) {
  animation-delay: 0.4s;
}
.hint:nth-child(3) {
  animation-delay: 0.5s;
}
.hint:nth-child(4) {
  animation-delay: 0.6s;
}

.hint[data-type=correct] {
  background-color: #589469;
}

.hint[data-type=close] {
  background-color: #E5BE40;
}

.hint[data-type=incorrect] {
  background-color: #666666;
}


/* Header Shit */

.header {
  box-shadow: 0px -4px 7px black;
  padding: 12px;
  text-align: center;
  background-color: var(--bg);
  transition: background-color 2s;
  /*
  display: flex;
  justify-content: center;
  grid-gap: 35px;
  */
}

.logo {
  transition: all 2s;
  position:relative;
}
body[data-dark="1"] .logo {
  filter: invert(1);
}
/*  removing because harper's a jackass
.logo:active {
  transform: rotate(360deg);
}
*/
.header-option {
  position: relative;
  top: 12px;
  float:right;
  border: none;
  padding: 0;
  height: 24px;
  width: 24px;
  margin-left: 17px;
  margin-right: 17px;
  border-radius: 999px;
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  text-align: center;
  background-color: #00000000;
  color: var(--color);
  transform: scale(1.5);
}
.stats-option:active {
  transform: scale(1.3) rotate(15deg);
}

#header_help {
  float:left;
}

/* Win UI Stuff (CHANGE LATER) */
.winuioverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  border-radius: 14px;
  width: 200%;
  height: 200%;
  opacity: 0;
  z-index: 3;
  pointer-events: none;

  transition: opacity 0.5s;
}
.winuioverlay[data-reveal="1"] {
  pointer-events:auto;
  opacity: 0.5;
}
.stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.5s;
}

.stats[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.25s, transform 0.25s;
}
.stats-window[data-reveal="1"] {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}
.stats-numbers {
  padding: 20px;
  display: flex;
  justify-content: center;
  grid-gap: 30px;
}

.stats-title {
  font-weight: 700;
  font-size: 1.6rem;
}

.stats-icon {
  font-size: 4rem;
}

.stats-number {
  font-size: 1.3rem;
}

.stats-options {
  display: flex;
  justify-content: center;
  grid-gap: 35px;
}

.stats-option {
  border: none;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 999px;
  /*outline: 3px solid white; */
  /*outline-offset: 2px; */
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  text-align: center;
  color: var(--color);
  transform: scale(1.5);
  border-radius: 999px;
  box-shadow: 0 0 0 2pt var(--bgoutline);
}
.stats-option:active {
  transform: scale(1.3) rotate(0deg);
}

#sharespan {
  position: relative;
  right: 2px;
  top: 1px;
  font-size: 150%;
}
#twitterspan {
  position: relative;
  top: 1px;
  left: 1px; 
  font-size: 150%;
}

#hardmodespan {
  position: relative;
  font-size: 125%;
  top: 4px;
  color: var(--color);
}

.stats-option[data-button="share"] {
  background-color: #59846f;
}
.stats-option[data-button="close"] {
  background-color: #666666;
}
.stats-option[data-button="tweet"] {
  background-color: #427d83;
}
.stats-option[data-button="getapp"] {
  background-color: #666666;
}
.stats-option[data-button="hardmode"] {
  background-color: #a79d12;
  box-shadow:  0px 0px 5px #ffee0060, 0 0 0 2pt var(--bgoutline);
}
.stats-option[data-button="hardmode"]:hover {
  box-shadow:  0px 0px 10px #ffee00c0, 0 0 0 2pt var(--bgoutline);
}
.stats-option[data-button="hardmode"]:active {
  box-shadow:  0px 0px 0px #ffee0000, 0 0 0 2pt var(--bgoutline);
}
.stats-option[data-button="play"] {
  position:relative;
  top: 10px;
  background-color: #59846f;
}
.stats-option[data-button="exitsettings"] {
  position:relative;
  top: 10px;
  width: 90px;
  background-color: #59846f;
}

/* Tutorial UI stuff */

.tutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.tutorial[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  opacity: 1;
  display: flex;
  pointer-events:auto;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.tutorial-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.25s, transform 0.25s;
}
.tutorial-window[data-reveal="1"] {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
  transition: opacity 0.25s, transform 0.25s;
}
.tutorial-title {
  font-weight: 700;
  font-size: 1.6rem;
}
.tutorialrow {
  text-align:left;
}
.tutorialtext {
  display:inline-block;
  position: relative;
  padding:0;
  margin-left: 5px;
  bottom: 6px;
  font-size: clamp(50%, 2.5vw, 100%);
  
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;   
  -o-user-select: none; 
}
.tutorial-options {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  grid-gap: 35px;
}
.material-icons[data-nl="1"] {
  display:inline-block;
} 
.material-icons[data-tutorial="1"] {
  margin-left: 20px;
  color:#323232;
}
.material-icons[data-tutorial="2"] {
  margin-left: 20px;
  color:#E5BE40;
}
.material-icons[data-tutorial="3"] {
  margin-left: 20px;
  color:#59846f;
}
.hardmodeb {
  height: 100%;
  display:block;
    color: var(--color);
}




/* Settings UI stuff *

/* settings UI stuff */

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.settings[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  opacity: 1;
  display: flex;
  pointer-events:auto;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.settings-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.25s, transform 0.25s;
}
.settings-window[data-reveal="1"] {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
  transition: opacity 0.25s, transform 0.25s;
}
.settings-title {
  font-weight: 700;
  font-size: 1.6rem;
}
.settingsrow {
  text-align:left;
}
.settingstext {
  display:inline-block;
  position: relative;
  padding:0;
  margin-left: 5px;
  bottom: 6px;
  font-size: clamp(50%, 2.5vw, 100%);
  
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;   
  -o-user-select: none; 
}
.settings-options {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  grid-gap: 35px;
}
.setting {
  margin-top: 3px;
  margin-bottom: 3px;
}
.settingcaption {

}
.settingcheckbox {
  
}