body {
  background-color: #0a0a0a;
  overflow: hidden;
}
* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.colorpickerparent {
  height: auto;
  position: fixed;
  left: 50%;
  bottom: -90px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.colorpicker {
  display: inline-block;
}
.colorconfirm {
  display: inline-block;
}
[data-button="1"] {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  margin: 2px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s, border 0.2s, border-bottom 0.2s, outline 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  border: 0px solid white;
  box-sizing:border-box;
}
[data-button="1"][data-selected="1"] {
  transform: scale(0.5) rotate(4deg);
}
[data-button="1"][data-selected="1"]:hover {
  transform: scale(0.5) rotate(4deg);
}
[data-button="1"]:hover {
  transform: scale(1.1);
  border: 4px solid white;
}

#confirmingcolor {
  position: relative;
  left: 10px;
  top: -10px;
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 21px;
  margin: 2px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s, border 0.2s, border-bottom 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#confirmingcolor:hover {
  transform: scale(1.1);
}
.guesses {
  width: 100%;
}
.guess {
  width: 300px;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: relative;
  margin-bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  
}
.guesscolor {
  position: relative;
  display: inline-block;
  width: 60px;
  height:60px;
  border-radius: 7px;
  margin: 2px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s, border 0.2s, border-bottom 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
  border: 0px solid white;
  margin-bottom: 12px;
  box-sizing:border-box;
}
.guesscolor:hover {
  transform: scale(1.1);
  border: 4px solid white;
}
.guessdist {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 200%;
  
  margin: 0;
  padding: 0;
  top: 10px;
  position:relative;
  float: right;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.colorref {
  font-size: 600%;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -8px;
  top: -8px;
  background-color: #000000;
  border-radius: 5000px;
  transform: scale(0);
  opacity: 0;
  transition: transform 2.5s, opacity 1.75s;
  z-index: -1;
}
.background[data-reveal="1"] {
  transform: scale(3);
  opacity: 1;
}

.winui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color: #141414;
  border-radius: 14px;
  width: 600px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: height 0.3s, opacity 0.3s;
}
.winui[data-reveal="1"] {
  height: 400px;
  pointer-events:auto;
  opacity: 1;
}
.winuioverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  border-radius: 14px;
  width: 200%;
  height: 200%;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

  transition: opacity 1s;
}
.winuioverlay[data-reveal="1"] {
  pointer-events:auto;
  opacity: 0.5;
}
.wintext {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  font-size: 300%;
  text-align:center;
}
.winstat {
  margin-top: 18px;
  vertical-align: top;
  margin-left: 12px;
  width: 80px;
  display: inline-block;
}
.winstatval {
  text-align:center;
  font-size: 300%;
  margin: 0;
  padding: 0;
  
}
.winstatcap {
  text-align:center;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.sharebutton {
  position:relative;
  width: 120px;
  height: 60px;
  background-color: #00d40b;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 12px;
  transition: transform 0.2s;
}
.sharebutton:active {
  transform: scale(0.9);
}
.sharecaption {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-align:center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.winpreshare {
  height: 328px;
}

.guessconfs {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 200%;
  
  
  margin: 0;
  padding: 0;
  position:relative;
  float: right;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.guessc {
  margin-right: 7px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #3A3A3C;
  border-radius: 7px;
  transform: scaleX(1);
  transition: transform 0.25s;
  /*cursor: pointer;*/
}
.guessc[data-state="a"] {
  transform: scaleX(0);
}
.guessc[data-state="1"] {
  background-color: #3A3A3C;
  transform: scaleX(1);
}
.guessc[data-state="2"] {
  background-color: #B59F3B;
  transform: scaleX(1);
}
.guessc[data-state="3"] {
  background-color: #538D4E;
  transform: scaleX(1);
}
.guessct {
  color: #FFF;
  text-align: center;
  position: relative;
  top: -20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
  font-weight: bold;
  transition: transform 0.25s;
}
/*
.guessc:hover > .guessct {
  transform: scale(1.1);
}*/