@font-face {
  font-family: helvetica;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FHelvetica.ttf) format("opentype");
}
@font-face {
  font-family: comics;
  src: url(https://cdn.glitch.me/c0ad9283-e339-4a8d-851f-6a6e5e9943c5%2FComics.ttf) format("opentype");
}

body {
  background-color: #3A4FF2;
  text-align: center;
  object-fit: contain;
  user-select: none;
  font-weight: bold;
  overflow: hidden;
  font-family: 'helvetica';
  background-size: 100%;
  background-repeat: repeat;
  background-position: top center;
}


#progressbg {
  display:none;
  height: 10px;
  background-color: #BBBEC1;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1s, width 1s, transform 1s;
}
#progressbg[data-state="0"] {
  display:block;
  position: absolute;
  width: 0px;
  top: calc(50% - 30px);
  left: calc(50% - 250px);
  opacity: 0;
}

#progressbg[data-state="1"] {
  display:block;
  width: 500px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 250px);
  opacity: 1;
}
#progressbg[data-state="2"] {
  display:block;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 250px);
  opacity: 1;
  transform: scale(0);
}

#progressbar{
  background-color: #C92E36;
  transition: width 0s linear;
  width: 0%;
  height: 10px;
}

#progressbar[data-state="1"] {
  transition: width 45s linear;
  background-color: #C92E36;
  width: 100%;
  height: 10px;
}
#progressicon {
  background-color: #C92E36;
  transition: left 45s linear, transform 1s;
  bottom: -5px;
  position: absolute;
  left: calc(0% - 15px);
  transform: scale(0);
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
#progressicon[data-state="1"] {
  left: calc(100% - 15px);
  transform: scale(1);
}

#progressicon[data-state="2"] {
  left: calc(100% - 15px);
  transform: scale(0);
}

#progressbgv {
  display:none;
  height: 10px;
  background-color: #BBBEC1;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1s, width 1s, transform 1s;
}
#progressbgv[data-state="0"] {
  display:block;
  position: absolute;
  width: 0px;
  top: calc(50% + 20px);
  left: calc(50% - 250px);
  opacity: 0;
}

#progressbgv[data-state="1"] {
  display:block;
  width: 500px;
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% - 250px);
  opacity: 1;
}
#progressbgv[data-state="2"] {
  display:block;
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% - 250px);
  opacity: 1;
  transform: scale(0);
}

#progressbarv{
  background-color: #2DC6BA;
  transition: width 0s linear;
  width: 0%;
  height: 10px;
}

#progressbarv[data-state="1"] {
  transition: width 15s linear;
  background-color: #2DC6BA;
  width: 100%;
  height: 10px;
}
#progressbarv[data-state="3"] {
  transition: width 1s ease;
  background-color: #2DC6BA;
  width: 0%;
  height: 10px;
}
#progressiconv {
  background-color: #2DC6BA;
  transition: left 15s linear, transform 1s;
  bottom: -5px;
  position: absolute;
  left: calc(0% - 15px);
  transform: scale(0);
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
#progressiconv[data-state="1"] {
  left: calc(100% - 15px);
  transform: scale(1);
}

#progressiconv[data-state="2"] {
  left: calc(100% - 15px);
  transform: scale(0);
}
#progressiconv[data-state="3"] {
  transition: left 1s ease, transform 1s;
  left: calc(0% - 15px);
  transform: scale(0);
}

.clickratelogo {
  position:absolute;
  top: calc(0% - 300px);
  left: -200px;
  width: 1600px;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  
}
.gamecode {
  text-align:left;
  position:absolute;
  top: calc(50% - 30px);
  left: 30px;
  color: #FFFFFF;
  font-size: 600%;
  user-select: none;
  font-family: 'helvetica';
}
.gametransition {
  width: 200%;
  height: 0%;
  display:inline-block;
  position:absolute;
  bottom: 0%;
  left: 0%;
  opacity: 1;
  transition: height 1.5s, opacity 1.5s;
  user-select: none;
  z-index: 999;
}
[data-transition="1"] {
  height: 105%;
  background-color: #3A00F2;
}
[data-transition="2"] {
  height: 105%;
  background-color: #3A00F2;
  opacity: 0;
}
[data-transition="3"] {
  width: 0px;
  height: 0px;
}
.yourgamecodeis {
  display: none;
  text-align:left;
  position:absolute;
  top: calc(50% + 50px);
  left: 30px;
  color: #FFFFFF;
  position: absolute;
  font-size: 150%;
  font-family: 'helvetica';
  
}
.joinat {
  display: none;
  text-align:left;
  position:absolute;
  top: calc(50% - 20px);
  left: 30px;
  color: #FFFFFF;
  position: absolute;
  font-size: 150%;
  font-family: 'helvetica';
}
.joinlink {
  display: none;
  text-align:left;
  position:absolute;
  top: calc(50% + 5px);
  left: 30px;
  color: #FFFFFF;
  position: absolute;
  font-size: 230%;
  font-family: 'helvetica';
}
.start {
  cursor: pointer;
  height: 48px;
  width: 300px;
  position:absolute;
  top: calc(100% - 90px);
  left: 0px;
  margin: 25px 25px 15px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F28343;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #7C390E;
  transition: color 0.5s, background-position 0.5s, box-shadow 0.5s;
}
button:disabled {
  cursor: default;
  background: #e0e0e0;
  color: #505050;
  box-shadow: 0 0 0 0 #505050;
}

.playerlist {
  text-align: left;
  position:absolute;
  top: calc(50% + 0px);
  left: 400px;
  height: 100%;
  width: 80%;
}
.playerlistanswer {
  display: none;
  text-align: left;
  position:absolute;
  top: calc(50% + 0px);
  transition: top 1s;
  left: 10%;
  height: 100%;
  width: 80%;
}
.playerlistanswer[data-state="1"] {
  display: block;
}
.playerlistanswer[data-state="2"] {
  top: calc(100% - 200px);
  display: block;
}
[data-playerlobby] {
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;
}
[data-playerlobby="0"] {
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0);
}
[data-playerlobby="1"] {
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 1s;
  transform: scale(1);
}
.playerlobbyanswer {
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;
  display:inline-block;
  margin: 0px 50px 0px;
}
.playerlobbyanswer[data-state="0"] {
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 0.7s;
  transform: scale(0);
}
.playerlobbyanswer[data-state="1"] {
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 0.7s;
  filter: grayscale(1) brightness(0.5);
  transform: scale(0.7);
}
.playerlobbyanswer[data-state="2"] {
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 0.7s;
  filter: none;
  transform: scale(1);
}
.playerlobbyanswer[data-state="3"] {
  transition: transform 0.7s, filter 0.45s;
  filter: brightness(0);
  transform: scale(0);
}
.playerlobbyanswer[data-state="4"] {
  display: none;
}
.playerlobbyscore {
  position:fixed;
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0) rotate(-360deg);
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;
  display: inline-block;
  filter: brightness(0);
  margin: 0px 20px 0px;
}
.playerlobbyscore[data-state="1"] {
  filter: none;
  transform: scale(1) rotate(0deg);
}
.playerlobbyscorediv {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  transition: top 1.5s, left 1.5s;
}
.playertextnamescore {
  display: inline-block;
  color: #ffffff;
  font-size: 200%;
  margin:0;
  position:relative;
  text-align:center;
  left: 130px;
  top: 30px;
}
.playertextscore {
  display: inline-block;
  float: right;
  color: #FFFFFF;
  font-size: 200%;
}
.playerlistscore {
  display: none;
  text-align: left;
  position:absolute;
  top: calc(0% + 200px);
  transition: top 1s;
  left: 10%;
  height: 100%;
  width: 80%;
}
.playerlistscore[data-state="1"] {
  display: block;
}
.playerlistscoreimg {
  display: inline-block;
  opacity: 1;
}





[data-playerlobby]:hover {
  transform: scale(1.1);
}
[data-playerlobby][data-dragginglobby="1"] {
  transform: scale(1.2);
}

.playerlobby {
  display: inline-block;
  margin: 0px 50px 0px;
  
}

.playertext {
  text-align:center;
  color: #FFFFFF;
  font-family: 'helvetica';
}
.thanksforplaying {
  text-align:center;
  color: #FFFFFF;
  font-size:200%;
  font-family: 'helvetica';
}
.gamecontainer {
  display: none;
}

.intro_cursor {
  transform: scale(1) rotate(0deg);
  position: absolute;
  left: 125%;
  top: 125%;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s, top 1s;
  z-index: 2;
}
.intro_cursor[data-anim="0"] {
  left: 50%;
  top: 50%;
}
.intro_cursor[data-anim="1"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s, top 1s;
  transform: scale(0.9);
  left: 50%;
  top: 50%;
}
.intro_cursor[data-anim="2"] {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s, top 1s;
  transform: scale(1) rotate(-2deg);
  left: 60%;
  top: 60%;
}
.intro_cursor[data-anim="3"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 2s, top 2s;
  left: 125%;
  top: -25%;
}
.intro_img {
  width: 600px;
  height: 533px;
  position:absolute;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 2s, top 2s, opacity 0.5s;
  left: calc(50% - 300px);
  top: calc(50% - 266px);
  z-index: 1;
}
.intro_img[data-anim="0"] {
  transform: scale(0);
  opacity: 0;
}
.intro_img[data-anim="1"] {
  transform: scale(1);
  opacity: 1;
}
.intro_img[data-anim="2"] {
  transition: transform 2s, opacity 1s;
  transform: scale(3);
  opacity: 0;
}
.intro_cursor[data-anim="4"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s, top 1s;
  left: 50%;
  top: 50%;
}
.intro_cursor[data-anim="5"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 2s, top 2s;
  transform: scale(0.9);
  left: 50%;
  top: 50%;
}
.intro_cursor[data-anim="6"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1s, top 1s;
  transform: scale(1);
  left: 50%;
  top: 50%;
}
.intro_cursor[data-anim="7"] {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 2s, top 2s;
  transform: scale(1);
  left: 125%;
  top: -25%;
}
.intro_logo {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 2.5s, top 2.5s;
  position: absolute;
  width: 800px;
  height: 450px;
  left: calc(50% - 400px);
  top: calc(50% - 225px);
  transform: scale(0);
}
.intro_logo[data-anim="0"] {
  transform: scale(1);
}
.intro_logo[data-anim="1"] {
  transform: scale(1);
  top: calc(0% - 100px);
}
.checkdevices {
  position: absolute;
  text-align: center;
  top: 30%;
  left: calc(50% - 300px);
  width: 600px;
  color: #FFFFFF;
  transition: transform 1s, left 2.5s, top 2.5s, opacity 0.5s;
  transform: scale(2);
  opacity: 0;
  font-size: 300%;
}
.checkdevices[data-check="1"] {
  transform: scale(1);
  opacity: 1;
}
.promptshow {
  display:none;
  position: absolute;
  text-align: center;
  top: calc(0% + 200px);
  left: calc(50% - 300px);
  width: 600px;
  color: #FFFFFF;
  transition: transform 1s, left 2.5s, top 2.5s, opacity 0.5s;
  font-size: 200%;
}
.promptshow[data-state="0"] {
  display:block;
}
.answershow {
  display:none;
  position: absolute;
  text-align: center;
  top: calc(0% + 200px);
  left: 0%;
  width: 100%;
  color: #FFFFFF;
  transition: transform 0.5s, left 2.5s, top 2.5s, opacity 0.5s;
  transform: scale(3) rotate(35deg);
  opacity: 0;
  font-size: 4vw;
}
.answershow[data-state="0"] {
  display:block;
}
.answershow[data-state="1"] {
  display:block;
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
.answershow[data-state="2"] {
  display:block;
  transform: scale(1) rotate(0deg);
  opacity: 0;
}
.ctrdiv {
  display:block;
  position: absolute;
  text-align: center;
  top: calc(0% + 450px);
  left: calc(0% + 0px);
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  opacity: 0;
  font-size: 100%;
  transform: scale(3) rotate(0deg);
}
.ctrdiv[data-state="1"] {
  transform: scale(1) rotate(0deg);
  transition: transform 0.5s, left 2.5s, top 2.5s, opacity 0.5s;
  opacity: 1;
}
.ctrdiv[data-state="2"] {
  transform: scale(0) rotate(0deg);
  transition: transform 0.5s, left 2.5s, top 2.5s, opacity 0.5s;
  opacity: 1;
}
.ctrtextshow {
  width: 100%;
  color: #FFFFFF;
  transition: transform 0.5s, left 2.5s, top 2.5s, opacity 0.5s;
  opacity: 1;
  font-size: 200%;
}
.ctrshow {
  width: 100%;
  color: #FFFFFF;
  position:relative;
  bottom: 145px;
  transition: transform 0.5s, left 2.5s, top 2.5s, opacity 0.5s;
  opacity: 1;
  font-size: 800%;
}