
@font-face {
	font-family: metropolis;
	src: url("metropolis.ttf") format("opentype");
  }
  


body {
  background-color: rgb(19, 22, 31);
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
    text-align: center;  
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "metropolis", sans-serif;
}

.hell {
	position: absolute;
	height: 150%;
	left: -50px;
	width: 150px;
	background-image: url('hell.png');
	transition: background 0.5s, width 0.5s, left 0.5s;
}
.hell[data-active="1"] {
	left: 0px;
}
.heaven {
	position: absolute;
	left: calc(100% + 50px);
	height: 150%;
	width: 150px;
	transform: translateX(-100%);
	background-image: url('heaven.png');
	transition: background 0.5s, width 0.5s, left 0.5s;
}
.heaven[data-active="1"] {
	left: 100%;
}
.judgedimage {
	position: absolute;
	width: 300px;
	height: 300px;
	transform: scale(1) translate(-50%, -50%);
	transition: transform 0.2s;
	border-radius: 0.7em;
	
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 1;
}
.judgedimage:hover {
	transform: scale(1.1) translate(-45%, -45%);
}
.judgedimage:active {
	transform: scale(1.2) translate(-40%, -40%);
}
.placetext {
	position: relative;
	top: 50%;
	color: #75ffe1;
	opacity: 0;
	font-size: 200%;
	font-family: "metropolis", sans-serif;
	transition: font-size 0.5s, opacity 0.5s;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
[data-active="1"] > .placetext {
	opacity: 0;
	font-size: 250%;
}
.container[data-active="0"] {
	opacity: 0.5;
	pointer-events: none;
}
.container {
	opacity: 1;
	transition: opacity 0.5s;
}
.statsui {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.25s;
}
.statsui[data-active="1"] {
	pointer-events: all;
	opacity: 1;
	transform: translate(-50%, -50%);
}
.statstext {
	color: #FFFFFF;
	font-size: 250%;
	font-family: "metropolis", sans-serif;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#statsverdict {
	margin-top: -30px;
}
#statsverdict[data-mode="hell"] {
	transition: color 0.5s;
}
#statsverdict[data-mode="hell"]::after {
	color: rgb(255, 52, 52);
	content: "HELL";
}
#statsverdict[data-mode="heaven"]::after {
	color: rgb(255, 252, 98);
	content: "HEAVEN";
}
#statsverdict[data-mode="neutral"]::after {
	color: rgb(189, 189, 189);
	content: "NEUTRAL";
}
#statsbutton {
	color: #FFFFFF;
	width: 100px;
	height: 50px;
	background-color: rgb(76, 78, 87);
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	width: 100%;
	border-radius: 7px;
}
.statsbt {
	font-size: 190%;
	position: relative;
	top: calc(50% + 2px);
	transform: translateY(-50%);
	pointer-events: none;
}